
.wrapper {

 max-width: 10vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size:16px;
 padding-bottom: 10px;

}

.items a {
    text-decoration: none;
    color: white;
  }

.items img:hover {
  
    -webkit-box-shadow: 0px 0px 71px 0px rgba(60, 105, 139, 60.26);
-moz-box-shadow: 0px 0px 71px 0px rgba(60, 105, 139, 60.26);
box-shadow: 0px 0px 71px 0px rgba(60, 105, 139, 60.26);
}

.image {
  max-width: 100px;
   padding: 10px;
}
.img {
    border: 1px solid rgba(111, 183, 238, 0.795);
    width: 100%;
    border-radius: 50%;
}
.descriptionBlock {
    text-align: center;
    text-decoration: none;
    
}

@media (max-width: 1200px) {
   
    .title {
        display: flex;
       flex-wrap: wrap;
    font-size: 22px ;
    }
  }

  
@media (max-width: 600px) {
   
    .wrapper {
        display: none;
    }
    }
  