.wrapper {
    height: 100vh;
}

.formContainer {
    display: flex;
    flex-direction: column;
   
}

.inputContainer {
    text-align: left;
}
input {
    margin-top: 0.5rem;
}



.inputContainer p{
    margin: 0;
    margin-bottom: 0.25rem;
    margin-left: 0.25rem;
    color:red;
    font-size:1rem;
}

button {
    cursor: pointer;
    width: 11rem;
   color:black;
}
button:hover {
    background-color: rgba(111, 183, 238, 0.795);
}

@media (max-width: 800px) {
    button {
        width: 7rem;
      }
  }