.dialogs {
    display: flex;
  padding-top:20px ;

}
.dialog {
    display: block;
    text-align: center;
 color:white;   
}
.dialogsItems {
   
    padding-right: 50px;
    list-style-type: none;
}

.dialogsItems .active {
    color:gold;
}

.messages {
    display: flex;
    flex-direction: column;
   width: 80%;
}

.AvatarImg {
    max-width: 100px;
    max-height: 100px;
}
.messageItems {
    display: flex;
    align-items: center;
justify-content: space-between;
margin-bottom: 20px;
padding: 10px;
background-color: rgba(255, 255, 255, 0.285);
border: 2px solid rgba(255, 255, 255, 0.285);
}
.messageImage img {
    max-width: 80px;
    max-height: 80px;
}
.messageItems:nth-child(odd) {
   flex-direction: row-reverse;
    
}
.form {
    align-self: center;
    width: 50%;
}
.formButton, .formArea {
    width: 100%;
}
.error {
    font-weight: bold;
    color:gold;
}

@media (max-width: 1200px) {
    .AvatarImg {
        max-width: 70px;
        max-height: 70px;
    }
    .messageImage img {
        max-width: 50px;
        max-height: 50px;
    }
}

@media (max-width: 800px) {
    .dialogsItems {
        display: none;
    }
    .dialogs{
        margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .messages {
      
       width: 100%;
    }
    .dialogs {
       
    padding-top: 0;
    }
}